* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: white;
}

h2 {
  font-size: 5rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  margin-left: 5rem;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.5rem;
  /* this will take the element's height and width and moves it back: */
  /* scale changes the font size it is very useful  */
  transform: translate(-50%, -50%) scale(4);
}

.first-page {
  height: 100vh;
  background: rgb(67, 51, 214);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home {
  height: 100vh;
}

.first-page img {
  height: 100%;
}

.square {
  width: 10rem;
  height: 10rem;
  background: rgb(67, 51, 214);
  position: absolute;
  top: 70%;
  left: 70%;
}
